@*
*@
@{
}
@model Product
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İki Parçalı Sayfa</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container {
            margin: auto;
            overflow: hidden;
        }

        .parca {
            float: left;
            width: 50%;
            box-sizing: border-box;
            padding: 20px;
        }

        .footer {
            text-align: center;
            padding: 50px;
        }
    </style>
</head>

<body>


    <div class="container">
        <div class="parca">
            @if (@Model.Image != null)
            {
                string img64 = Convert.ToBase64String(@Model.Image);
                string img64Url = string.Format("data:image/" + "png" + ";base64,{0}", img64);

                <img src="@img64Url" alt="Product Image">
            }
        </div>
        <div class="parca">
            <h1>@Model.Name</h1>
            <h3>Price : @Model.Price</h3>
            <h3>Rating : @Model.Rating/5</h3>
            <a class="btn btn-success" onclick="getCart(@Model.ProductId)">Add to Cart</a>
        </div>
    </div>
    <div class="footer">
        <h6>@Model.Details</h6>
    </div>


</body>

</html>

<script type="text/javascript">
    function getCart(id) {
        $.post("@Url.Action("AddCart", "Cart")", { id: id }, function () {
            alert("Added to Cart");
        });
    }
</script>
