@* <div>
<div class="align-content-start">

<table class="table table-bordered text-center" cellpadding="5">
<thead>
<tr class="bg-black bg-opacity-50">
<th class="text-capitalize text-white">Name</th>
<th class="text-capitalize text-white">Price</th>
<th class="text-capitalize text-white">Image</th>
<th class="text-capitalize text-white">Rating</th>
<th class="text-capitalize text-white" colspan="2">More</th>
</tr>
</thead>
<tbody>
@foreach (Product product in ViewBag.productList)
{
string img64Url = "";
@if (@product.Image != null)
{
string img64 = Convert.ToBase64String(@product.Image);
img64Url = string.Format("data:image/" + "png" + ";base64,{0}", img64);
}


<tr>
<td class="align-content-center">@product.Name</td>
<td>@product.Price</td>
<td><img src="@img64Url"></td>
<td>@product.Rating</td>
<td><button class="btn btn-outline-success">Add to
Cart</button></td>
<td><a class="btn btn-primary" href="/product/details/@product.ProductId">Details</a></td>
</tr>
}
</tbody>
</table>
</div>
<div>
<a href="/product/add" class="btn btn-outline-primary">Add Item</a>
</div>
</div> *@


<!-- Views/Home/Index.cshtml -->
<button onclick="addCard()">Add Card</button>

<div id="cardList"></div>
@*
@section scripts {
<script type="text/javascript" src="~/js/site.js"></script>
} *@
<script type="text/javascript">
    function addCard() {
        const cardList = document.getElementById('cardList');
        const card = document.createElement('div');
        card.className = 'card';

        card.innerHTML = `
        <img src="https://via.placeholder.com/150" alt="Product Image">
        <div class="card-info">
            <h3>Product ${++cardCount}</h3>
            <p>Description of product ${cardCount}.</p>
            <p class="price">$19.99</p>
            <button onclick="addToCart(${cardCount})">Add to Cart</button>
        </div>
    `;

        cardList.appendChild(card);
    }
</script>