<div id="cardList">
    @foreach (var product in ViewBag.productList)
    {
        <div class="card">
            @if (@product.Image != null)
            {
                string img64 = Convert.ToBase64String(@product.Image);
                string img64Url = string.Format("data:image/" + "png" + ";base64,{0}", img64);

                <img src="@img64Url" alt="Product Image">
            }
            <div class="card-info">
                <h3>@product.Name</h3>
                <p>
                <h5>@product.Details</h5>
                </p>
                <p class="price">@product.Price.ToString("C")</p>
                <p class="price">@product.Rating</p>
                <a class="btn btn-success" href="/product/details/@product.ProductId">Go To
                    Product</a>
                <br>
                <button onclick=" getCart(@product.ProductId)">Add to Cart</button>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    function getCart(id) {
        $.post("@Url.Action("AddCart", "Cart")", { id: id }, function () {
            alert("Added to Cart");
        });
    }
    function goToProduct(id) {
        $.post("@Url.Action("Details", "Product")", { id: id }, function () {
        });
    }
</script>

<div class="cart-container" id="cartContainer">
    <h3 class="cart-title">Shopping Cart</h3>
    <div id="cartItems"></div>
</div>


@section scripts {
    <script type="text/javascript" src="~/js/site.js"></script>
}