@model ShoppingApp.Models.Customer

<!DOCTYPE html>
<html>

<head>
    <title>Cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
@{
    var products = ViewBag.cart.Products as List<Product>;
    var totalPrice = 0.0; // Toplam fiyat için baþlangýç deðeri
}
<body>
    <div class="container">
        <h1 class="text-center mt-5">Items</h1>
        <table class="table table-striped mt-5">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in products)
                {
                <tr>
                    <td>@item.ProductId</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>
                        <form>
                            <button asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@item.ProductId"
                                    class="btn btn-danger">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
                    totalPrice += item.Price; // Her ürünün fiyatýný toplam fiyata ekleyin
                }
            </tbody>
        </table>

        <div class="mt-3">
            <h4>Total Price: @totalPrice</h4>
        </div>
        <div class="mt-3">
            <h2>Customer Information</h2>
            <form asp-controller="Home" asp-action="Purchase" method="post">
                <div class="form-group">
                    <label asp-for="NameSurname">Name and Surname:</label>
                    <input asp-for="NameSurname" class="form-control" required />
                </div>
                <div class="form-group">
                    <label asp-for="Phone">Phone Number:</label>
                    <input asp-for="Phone" class="form-control" required />
                </div>
                <div class="form-group">
                    <label asp-for="Email">E-Mail:</label>
                    <input asp-for="Email" class="form-control" required />
                </div>
                <div class="form-group">
                    <label asp-for="Address">Address:</label>
                    <textarea asp-for="Address" class="form-control" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-success">Purchase</button>
            </form>
        </div>
    </div>
</body>
</html>